#InnerHeader
{
    height: 66px;
    width: 100%;

    border: solid;

}

#InnerHeader #InnerContainer
{
    height: 100%;
    width: 80%;

    border: solid;

    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
}

#InnerHeader #InnerContainer #headerImageBox
{
    width: 220px;
    height: 44px;

    margin-right: 10px;
}

#InnerHeader #InnerContainer img
{
    width: 100%;
    height: 100%;



    object-fit: contain;
}
#InnerHeader #InnerContainer .headerButtons
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#InnerHeader #InnerContainer .headerButtons button
{
    height: 28px;
    width: 140px;
    
    border-radius: 30px;
    border: none;

    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700px;
    
    color: rgba(0, 0, 0 , 0.7);
    background-color: rgb(255, 255, 255);

    margin: 20px 10px;

    cursor: pointer;
}
#InnerHeader #InnerContainer .headerButtons button:hover
{
    background-color: rgba(13,128,242,.05);
    color: #0c5fab;
}

#InnerHeader #InnerContainer .headerButtons button svg
{
    height: 15px;
    width: 15px;

    padding-top: 5px;
}

#InnerHeader #InnerContainer #headerButton-lastButton button
{
    width: 195px ;
    height: 28px;
}
#InnerHeader #InnerContainer .headerButtons button:last-child #hostingCoupons
{
    display: inline-block;

    height: 15px;
    width: 30px;

    font-size: 12px;

    border-radius: 20px;

    color: white;
    background-color: rgb(18, 153, 0);
    
    margin-bottom: 4px;

}



#InnerHeader #InnerContainer #montlyPicks
{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: text;

}
#InnerHeader #InnerContainer #montlyPicks svg
{
    width: 20px;
    height: 20px;

}

#InnerHeader #InnerContainer #headerImageBox-2
{
    height: 35px;
    width: 120px;

    padding: 10px 10px;
    
    background-color: white;

    box-shadow: 0 2px 6px 3px rgba(6,49,89,.1) ;

    border-radius: 30px;

    margin-left: 5px;

    cursor: pointer;
}

#InnerHeader #InnerContainer #searchButton
{
    height: 36px;
    width: 36px;

    margin-left: auto;
    margin-right: 5px;


    background-color: white;

    border-radius: 50%; 
    border-style: solid;
    border-width: 1.5px;    
    border-color: #ffffff;

    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0 , 0.4) inset;
    
    transition: border-color 0.5s ease-in-out;

    cursor: pointer;
}
#InnerHeader #InnerContainer #searchButton:hover
{
    border-color: #1f3457;
}
#InnerHeader #InnerContainer #searchButton svg 
{
    height: 25px;
    width: 25px;

}
#InnerHeader #InnerContainer a  
{
    text-decoration: none;
    color: rgba(0, 0, 0 , 0.5);

    font-size: small;

}